body {
    background: #3f7afb;
    Padding: 8px 24px;
    Width: 675px;
    Border: 1px solid #0a0a1a;
    box-shadow: 0 0 10px 2px #333333;
    font-size: 30px;

}

ol {
    margin: 12px;
}